# Python/Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environments 
ra_env/
venv/
ENV/

# VS Code settings
.vscode/

# Data - Stop tracking Excel and CSVs
# We use 'data/' to ignore the whole folder
data/
*.xlsx
*.csv
*.xls

# Microsoft Office temporary files
~$*
*.tmp

# OS files
.DS_Store


scripts/notebooks/EDA_raw.ipynb
